*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
 
  .root {
  color: #994851;
    }

  .image{
    width: 120px;
    height: 120px;
    }
  
    .hide {
      display: none;
    }
    .show {
      display: block;
    }

    .board {
      width: 740px;
      height: 360px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      perspective: 1000px;
      }

    .cards {
      position: relative;
      width: 120px;
      height: 120px;
      
      
    }

    .cardBack {
      position: absolute;
      

    }
    
    body {
      background: rgb(255,222,222);
      background: radial-gradient(circle, rgba(255,222,222,1) 0%, rgba(171,201,255,1) 100%);
      }
    

