*{
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  margin: 0%;
}
 /*  Tablero */
  .root {
  color: #994851;
  width: 50%;
  height: 70%;
  align-content: center;
    }

  .image{
    width: 90%;
    height: 90%;
    }
  
    .hide {
      display: none;
    }
    .show {
      display: block;
    }
    .board {
      align-self: flex-start;
      width: 80%;
      height: 50%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      }

    
    .cards {
      position: relative;
      width: 15%;
      height: 15%;
      
      
    }

    .cardBack {
      position: absolute;
    }
    /*  Tablero */

    body {
      background: rgb(255,222,222);
      background: radial-gradient(circle, rgba(255,222,222,1) 0%, rgba(171,201,255,1) 100%);
      }
     
      /*nav bar*/
  .Pokemon-Logo {
    justify-content: right;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    display: inline;
    justify-content: flex-start;
    margin-right: 50%;
  }
  .topnav {
      overflow: hidden;
      background-color: transparent;
     }
    
    .topnav a {
      float: right;
      display: block;
      color: #F675A8;
    text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: 'Pokemon Solid', sans-serif;
    }
    
    .topnav a:hover {
      background-color: #F675A8;
      color: #f2f2f2;
    }
    
    .topnav a.active {
      background-color: #ffffff;
      color: #F675A8;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
  }
  /*end nav bar*/

/*Footer*/

footer {
  background-color: transparent;
  width: 100%;
  height: 22%;
  position: absolute;
  margin: 0%;
  margin-top: 5%;
  text-decoration: none
}
.lab {
  width: 30%;
  height: auto;
}
.rrss {
  background-color: transparent;
  align-items: left;
  align-self: left;
  position: absolute;
  flex-direction: row;
  text-decoration: none
}

.redes {
  width: 2%;
  height: 2%;
  text-decoration: none;
  flex-direction: row-reverse;
}
/*Footer*/


h1{ 
  width: 100%;
  height: 100%;
  color: #F675A8; 
 font-family: 'Pokemon Solid', sans-serif;
  font-size: 200%; font-weight: normal; 
  text-shadow:
  3px  3px 4px black,
  3px -3px 4px black,
 -3px  3px 4px black,
 -3px -3px 4px black;
  line-height: 48%; 
  margin-bottom: 5%;
  text-align: center;
  margin-top: 5%;
  
flex-direction: column;
  
  }
  
  h2{ 
    color: black; 
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 100%; font-weight: normal; 
    line-height: 40%; 
    margin: 0;
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 10%;
    align-content: center;
    }

    