* {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin: 0%;
   
}

body {
    background: rgb(255,222,222);
    background: radial-gradient(circle, rgba(255,222,222,1) 0%, rgba(171,201,255,1) 100%);
    }

h1{ 
color: #F675A8; 
font-family: 'Pokemon Solid', sans-serif;
text-shadow:
3px  3px 4px black,
3px -3px 4px black,
-3px  3px 4px black,
-3px -3px 4px black;
font-size: 45px; font-weight: normal; 
line-height: 48px; 
margin: 0;
text-align: center;
padding-left: 100px;
padding-right: 100px;
padding-top: 50px;
padding-bottom: 20px;
}

h2 {
font-family: 'Trocchi', serif; 
font-size: 24px; 
font-weight: normal; 
line-height: 48px; 
margin: 0;
color: black;
text-align: center;
padding-left: 100px;
padding-right: 100px;
padding-top: 10px
}

/*nav bar*/
.Pokemon-Logo {
padding-right: 800px;
} 
.topnav {
    overflow: hidden;
    background-color: transparent;
   }
  
  .topnav a {
    float: right;
    display: block;
    color: #F675A8;
    text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Pokemon Solid', sans-serif;
  }
  
  .topnav a:hover {
    background-color: #F675A8;
    color: #f2f2f2;
  }
  
  .topnav a.active {
    background-color: #ffffff;
    color: #F675A8;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
/*end nav bar*/

/*Input texto*/
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
#studentname {
    font-family: 'Trocchi', serif; 
    font-size: 24px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding-right: 100px;
    padding-left: 100px;
    }
#cohorte {
    font-family: 'Trocchi', serif; 
    font-size: 24px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding-right: 100px;
    padding-left: 100px;
}
/*Input texto*/

/*Botón*/
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #F675A8;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 30px;
  
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }
/*Botón*/

/*Footer*/

footer {
  background-color: transparent;
  width: 100%;
  height: 22%;
  position: absolute;
  margin: 0%;
  margin-top: 5%;
}
.lab {
  width: 30%;
  height: auto;
}
.rrss {
  background-color: transparent;
  align-items: left;
  align-self: left;
  position: absolute;
  margin-left: 92%;
  margin-bottom: 5%;
}
/*Footer*/

/*Tercera pantalla*/
h3{ 
  color: #F675A8; 
  font-family: 'Pokemon Solid', sans-serif; 
  font-size: 45px; font-weight: normal; 
  text-shadow:
    3px  3px 4px black,
    3px -3px 4px black,
   -3px  3px 4px black,
   -3px -3px 4px black;
  line-height: 48px; 
  margin: 0;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 20px;
  }
  
  h4 {
  font-family: 'Trocchi', serif; 
  font-size: 26px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0;
  color: black;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  }
 .giphy {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 50%;
  width: auto;
  padding-top: 2%;
  
 }
 .contenedorinputs {
  flex-direction: column;
 }
  